
<%= render 'form' %>
<% if @captain.errors.any? %>
    <div id="error_messages">
        <%= pluralize(@captain.errors.count, "error") %>
        prohibited this Captain from being saved:
        <br>
        <% @captain.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </div>
<% end %>

<div id="postResult">
    <p id="captName"></p>
    <p id="captAge"></p>
    <p id="captShip"></p>
</div>


<script type="text/javascript" charset="utf-8">
    $(function() {
        $('form').submit(function(e) {
            e.preventDefault();
            let values = $(this).serialize();
            let posting = $.post('/captains', values);

            posting.done(function(data){
                console.log(data);
                var capt = data;
                $('#captName').text(capt["name"]);
                $('#captAge').text(capt["age"]);
                $('#captShip').text(capt["ship"]);
            });
        });
    });
</script>
