<%= render 'form' %>
<<<<<<< HEAD
<% if @new_action.errors.any? %>
    <div id="error_messages">
        <%= pluralize(@new_action.errors.count, "error") %>
        prohibited this Action from being saved:
        <br>
        <% @new_action.errors.full_messages.each do |msg| %>
=======
<% if @action.errors.any? %>
    <div id="error_messages">
        <%= pluralize(@action.errors.count, "error") %>
        prohibited this Action from being saved:
        <br>
        <% @action.errors.full_messages.each do |msg| %>
>>>>>>> 002016c72eef6fa8b17f7426aaf72fa361f4d7ad
            <li><%= msg %></li>
        <% end %>
    </div>
<% end %>