<h1>Admiral <%= @user.name %>'s Dashboard</h1>
<h2>Currently Active Captains:</h2>

<ul id="captain_index">
</ul><br>

<button class="btn_captains">Show Captains</button><br>
<button class="btn_a_capts">Sorted Captains</button><br>
<%= link_to "Create New Captain", new_captain_path %>

<h2>Current Fleet:</h2>
<ul id="current_fleet">
<% @ships.each do |s| %>
    <li><%= link_to s.name, ship_path(s) %></li>
<% end %>
</ul>
<%= link_to "Create New Ship", new_ship_path %>